.topNav{
	background-image: url("../images/Metal_BG.png");
	opacity: 80%;
	height: 10%;
	position: static;
	border-bottom: solid grey;
}

.navLinks{
	float: right;
	position: absolute;
	right: 20%;
	line-height: 400%;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a.Link:link{
	color: blue;
}

a.Link:hover{
	background-color: #666;
}

a.Link:active{
	color: red;
}

.imgText{
	position: relative;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
}

.myName{
	width: 180px;
	height: 100%;
	display: table-cell;
	text-align: center;
	position: relative;
	left: 18.5%;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: grey;
	float: left;
}

.wrapper{
	width:960px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.AboutMeText{
	float: left;
	outline-style: solid;
	outline-color: #444;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

.sidebar{
	float: right;
	top: 0%;
	text-align: center;
	outline-style: solid;
	outline-color: #444;
}


a.Link{
    text-decoration:none;
}

a.imageLink{
	text-decoration:none;
}

.myFoot{
	background-image: url("../images/Metal_BG.png");
	position:fixed;
	width: 100%;
	height:10%;
	bottom:0;
	text-align: center;
	line-height: 800%;
	border-top: solid thick #444;
	font-size: 10px;
	}