a.imageLink{
    text-decoration:none;
}

.wrapper{
	width:960px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.topNav{
	background-image: url("../images/Metal_BG.png");
	height: 10%;
}

.sidebar{
	width:100px;
	float: right;
	text-align: center;
}

#myName{
	width: 125px;
	height: 100%;
	line-height: 50%;
	background-color: grey;
	position: relative;
	left: 20%;
	font-weight: bold;
	text-align: center;
	float: left;
}

#navLinks{
	float: right;
}